我想做一个竖屏3d拼图游戏，将一张图片根据设置参数m行n列h厚度，生成对应的3d拼图块，并且能打乱顺序，任意旋转(90度*n)摆放，可重叠的堆放在屏幕选取rect内，通过拖拽图块到拼图区rect2，
可以通过点击顺时针旋转90度，将相邻图块在相同旋转角度情况下拼在一起，拼在一起的图块可以和单独图块一样进行拖拽点击操作。
UI需要有3个界面，
1.选择主题界面（如动物，风景，建筑篇），有拼图进度显示，单独有一个从相册选择篇；
2.选择拼图图片界面，会区别已拼过和未拼过的效果，根据最难程度完成拼图的一个星级显示（难度分5星，几行几列按简单 中等 难，分别1,2,3星，旋转打乱+1星，堆叠排列+1星）；
3.设置难度界面（可设置划分成几行几列的小图，是否打乱旋转方向，是否用滑动列表整理排列）；
4.拼图界面（上面是拼图区域，下面是堆放区域，堆放区域可以是左右滑动列表打乱排列，也可以是一个堆叠区域堆放）
5.完成拼图结束界面，展示获得评分星级